<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUnitsConverter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:26334/UnitsConverter.cs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnitsConverter"
                contract="UnitsConverterReference.IUnitsConverter" name="BasicHttpBinding_IUnitsConverter" />
        </client>
    </system.serviceModel>
</configuration>